<div class="container">
    <h2>Edit Employee</h2>
    <form #form="ngForm" (submit)="editEmployee()">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="newEmployee.id" readonly>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newEmployee.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newEmployee.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="newEmployee.phone" required>
      </div>
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="newEmployee.salary" required>
      </div>
      <div class="form-group">
        <label for="department">Department:</label>
        <input type="text" class="form-control" id="department" name="department" [(ngModel)]="newEmployee.department" required>
      </div>
      <button type="submit" class="btn btn-primary">Update Employee</button>
      <button type="button" class="btn btn-danger" (click)="deleteEmployee(newEmployee.id)">delete Employee</button>
    </form>
  </div>