<div *ngIf="employees.length > 0">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Salary</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.department }}</td>
          <td>
            <a [routerLink]="['/employees/edit', employee.id]" class="btn btn-primary">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="employees.length === 0">
    <p>No employees found</p>
  </div>